<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header">
  <div class="item item-input item-stacked-label component-holder" data-component="crn-dynamic-image" id="crn-dynamic-image-359240"><label class="input-label">Label</label><div class="form-group"><div dynamic-image="" alt="Dynamic Image Aria Label Text" ng-model="vars.input6993" max-file-size="5MB" class="dynamic-image-container" ng-required="false" target-width="100px" target-height="100px">{{"template.crud.clickToAddImage" | translate}}</div></div></div></ion-content>
</ion-view>